@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@400;600;700&display=swap');

.font-anton {
    font-family: 'Anton', sans-serif;
}

.font-mont {
    font-family: 'Montserrat', sans-serif;
}

/* X-CLOAK FOR ALPINE */
[x-cloak] { display: none !important; }



/* FILAMENT DESCRIPTIONS  */
.filament-description 
    li {
        @apply list-inside list-disc mb-3;
    }
    p {
        @apply mb-3;
    }